{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="row">
        <div class="col-sm-3">
            O ingresso seguro é o portal onde os alunos podem baixar suas credenciais após se cadastrar e ser validado no processo do fluxo.
            Para baixar você vai ter que se logar pelo acesso ifpe.
        </div>
        <div></div>
    </div>
{% endblock %}

{% block footer %}
    <script type="application/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"m></script>
    <script type="application/javascript" src="{% static 'js/instascan.min.js' %}"></script>
{% endblock %}